.create-group-title {
    font-size: 21px;
    width: 100%;
    text-align: center;
}
.create-group-btn {
    width: 150px;
    height: 50px;
    background-color: #01abef;
    color: white;
    transition: .5s;
    border-radius: 10px;
    text-align: center;
    line-height: 3;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

.create-group-btn:hover {
    background-color: #8ddeff;
}
